*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
background-color:rgba(26, 11, 46, 1) ;
max-width: 1600px;
margin: 0 auto;
font-family: "Inter", sans-serif;
}
/* color */
.color-1{
color: rgba(255,255,255,1);
}


/* navber style */
.menu{visibility: hidden;}
nav{
display: flex;
justify-content: space-around;
align-items: center;
}
nav h1{
font-size: 4rem;
font-weight: 800;
margin: 30px 0;
}
.wave{
color: rgba(251, 9, 180, 1);
}
nav ul{
display: flex;

}
nav ul li{
list-style: none;
transition: 0.5s;
}
nav ul li a{
text-decoration: none;
margin: 0 32px;
font-size: 1rem;
font-weight: 500;
color: rgba(255,255,255,1);

}
nav ul li:hover{
transform: scale(1.5);
cursor: pointer;
}
.btn{
font-size: 1rem;
font-weight: 600;
color: rgba(255,255,255,1);
padding: 12px 16px;
border: none;
border-radius: 10000px;
background: linear-gradient(47.64deg,rgba(247, 233, 63, 1) ,rgba(251, 9, 180, 1) ,rgba(145, 0, 248, 1));
cursor: pointer;
transition: .6s;
}
.btn:hover{
background-color: white;
color: black;
transform: scale(1.4);
}

/* banner style */

.banner-container{
width: 1600px;
height: 760px;
background-image: url(./assets/hero-bg.png);
background-repeat: no-repeat;
background-position: center;
background-size: 100% 100%;
}
.new{
background-color: #00ff88;
text-transform: uppercase;
width: 75px;
height: 38px;
padding: 8px 16px;
border-radius: 10000px;
position: relative;
top: 150px;
right: -880px;
}


.hero-png{display: flex;
justify-content: center;
align-items: center;
height: 550px;}
.hero-circle{
height: 350px;
width: 350px;
}

.microphone-png{
display: flex;
justify-content: center;
margin-top: -360px;

}


.techwave{
max-width:550px;
margin: 0 auto;
text-align: center;
margin-top: 110px;
}
.techwave h1{
font-size: 3.75rem;
font-weight: 800;
line-height: 73px;
}
.techwave p{
font-size: 1rem;
opacity: 0.8;
line-height: 19px;
font-weight: 400;
margin-bottom: 24px;
}
.spotify{
border-radius: 10000px;
font-size: 1rem;
font-weight: 600;
line-height: 19px;
border: none;
cursor: pointer;
padding: 12px 20px;
background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) ,rgba(251, 9, 180, 1) ,rgba(145, 0, 248, 1));
}
.spotify:hover{
transition: .9s;
color: black;
}
.subscribe{
border-radius: 10000px;
font-size: 1rem;
font-weight: 600;
line-height: 19px;
color: rgba(0,255,136,1);
background-color: transparent;
cursor: pointer;
border: none;
border: 1px solid rgba(0,255,136,1);
padding: 12px 20px;
}

/* about-section style */
.about-section{
max-width: 1200px;
margin: 0 auto;
text-align: center;
padding: 50px 0 120px 0;

}

.div1 h1{
font-size: 3rem;
font-weight: bold;
line-height: 48px;
text-transform: capitalize;
margin-bottom: 16px;
}

.div1 p{
font-size: 1rem;
font-weight: 400;
line-height: 30px;
opacity: 0.8;
}



.div2{
display: flex;
justify-content: space-around;
margin-top: 160px;
}
.h1{
font-size: 3rem;
font-weight: 900;
line-height: 58px;
color: rgba(0,255,136,1);
}
.p{
font-size: 1rem;
font-weight: 400;
line-height: 20px;
color:rgba(255,255,255,1);
opacity: 0.8;
text-transform: uppercase;
}

/* choose section style */
.bg-color{
background-color: rgba(53, 17, 101, 0.4);
}

.choose-section{
max-width: 1200px;
margin: 0 auto;
padding: 120px 0;

}
.grid-container{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,273px);
gap: 30px;
}
.grid-1{
grid-column: span 1;
grid-row: span 2;
}
.grid-2,.grid-3,.grid-4{
grid-column: span 2;
grid-row: span 1;
}
.grid-5{
grid-column: span 1;
 grid-row: span 1;
}
.choose-section h1{
text-align: center;
font-size:3rem;
font-weight: bold;
line-height: 58px;
text-transform: capitalize;
color: rgba(255,255,255,1);
margin-bottom: 40px;
}

.div{
padding: 40px;
border-radius: 40px;
background-color: rgba(53,17,101,0.4);
}
.div img{
height: 50px;
width: 50px;
margin-bottom: 16px;
}
.div h2{
font-size:1.5rem;
font-weight: 700;
font-style: bold;
text-transform: capitalize;
line-height: 29px;
margin-bottom: 16px;
}
.div p{
font-size: 1rem;
font-weight: 400;
line-height: 24px;
opacity: 0.6;
}


/* featured-section style */
.featured-section{
max-width: 1200px;
margin: 0 auto;
padding: 120px 0;

}
.featured{
text-align: center;
font-size:3rem ;
font-weight: bold;
line-height: 58px;
padding-bottom: 40px;
}

.card-container{
display: flex;
gap: 30px;
}
.card{
max-width: 380px;
transition: 0.5s;
}
.card:hover{
transform: scale(1.05);
box-shadow: 0 0 50px 0 rgba(166, 128, 214, 0.4);;
}
.iframe{
border-top-right-radius: 24px;
border-top-left-radius: 24px;
display: block;
}
.card-body{
padding: 24px;
background-color: rgba(53,17,101,0.4);
border-radius: 0 0 24px 24px;
cursor: pointer;
}
.card-body h3{
font-size: 1.5rem;
font-weight: bold;
line-height: 29px;
}
.card-body p{
font-size: 1rem;
font-weight: 400;
line-height: 24px;
opacity: 0.6;
margin-top: 12px;
}
.min{
color: rgba(0,255,136,1);
font-size: 1rem;
font-weight: 600;
line-height: 24px;
margin-top: 12px;
}

/* footer meet-section style */
.meet-section{
max-width: 1200px;
margin: 0 auto;
background-color: rgba(53,17,101,0.4);
padding: 40px;
border-radius: 40px;
display: flex;
align-items: center;
gap: 24px;
margin-bottom: 120px;
}

.div-left img{
width:200px ;
height:200px ;
}

.div-right h3{
font-size:2rem;
font-weight: 700;
line-height: 39px;

}
.div-right p{
font-size: 1rem;
font-weight: 400;
line-height: 24px;
opacity: 0.6;
margin: 16px 0;
}

.div-right img{
box-sizing: border-box;
border: 1px solid rgba(83,60,114,1);
height: 40px;
width: 40px;
padding: 10px;
border-radius: 40px;
}

/* footer style */
footer{
max-width: 1600px;
height: 412px;
background-image: url(./assets/footer-bg.png);
background-repeat: no-repeat;
background-size: 100% 100%;

}

.footer-section{
max-width: 1360px;
margin: 0 auto;
text-align: center;
padding-top: 100px;
}
.footer-section h1{
font-size:4rem;
font-weight: 800;
margin-bottom: 32px;
}
.icon-container{
max-width: 544px;
margin: 0 auto;
display: flex;
justify-content: space-around;
align-items: center;
gap: 40px;
}

.icon{
display: flex;
align-items: center;

}

.icon img{
height: 24px;
width: 24px;
}

.icon p{
font-size: 1rem;
font-weight:500;
line-height:19px;
color: rgba(255,255,255,1);
opacity: 0.6;
}

.last-footer{
font-size: 1rem;
font-weight: 400;
line-height: 24px;
opacity: 0.6;
margin-top: 32px;
}

/* responsive */
@media screen and (max-width:576px) {
nav
,nav ul{
flex-direction: column;
}
ul li{margin: 10px 0;
padding: 5px;
}
.banner-container{
width: 100%;
height: 100%;
}
.hero-png{
height: 500px;
}
.hero-circle{
margin-bottom: 120px;
height: 150px;
width: 150px;
align-items: flex-start;
}
.microphone{
height: 80px;
width: 50px;
}
.microphone-png{
align-items: center;

}
.new{
right: -240px;
height: 30px;
width: 60px;
}



.about-section{
padding: 80px 20px 40px 20px;
}
.div{
margin: 30px;
padding: 15px;
}
.div2{
margin-top: 50px;
flex-wrap: wrap;
}
.choose-section{
padding: 50px 0;
}
.grid-container{
grid-template-columns: repeat(1,1fr);
justify-content: center;
gap: 5px;

}

.featured-section{
padding: 50px 0;
}
.card-container{
flex-direction: column;
margin-left: 15px;
}
.featured{
font-size: 2rem;
}
.meet-section{
flex-direction: column;
margin-bottom: 50px;
}
.div-right{
text-align: center;
}
.icon-container{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10px;
justify-content: center;
align-items: center;
}
.icon{
justify-content: center;
}
footer{
max-width: 100%;
}
.footer-section{
padding-top: 50px;
}


}