*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
background-color: rgb(148, 121, 184);
max-width: 1600px;
margin: 0 auto;
font-family: "Inter", sans-serif;
}
/* color */
.color-1{
color: rgba(255,255,255,1);
}
.color-2{

}


/* navber style */
nav{
display: flex;
justify-content: space-around;
align-items: center;
}
nav h1{
font-size: 64px;
font-weight: 800;
margin: 30px 0;
}
.wave{
color: rgba(251, 9, 180, 1);
}
nav ul{
display: flex;

}
nav ul li{
list-style: none;
}
nav ul li a{
text-decoration: none;
margin: 0 32px;
font-size: 1rem;
font-weight: 500;
color: rgba(255,255,255,1);
}
.btn{
font-size: 1rem;
font-weight: 600;
color: rgba(255,255,255,1);
padding: 12px 16px;
border: none;
border-radius: 10000px;
background: linear-gradient(47.64deg,rgba(247, 233, 63, 1) ,rgba(251, 9, 180, 1) ,rgba(145, 0, 248, 1));
cursor: pointer;
}


/* banner style */

.banner-container{
width: 1600px;
height: 760px;
background-image: url(./assets/hero-bg.png);
background-repeat: no-repeat;
background-position: center;
background-size: 100% 100%;
}

.hero-png{display: flex;
justify-content: center;
align-items: center;
height: 550px;}
.hero-circle{
height: 350px;
width: 350px;
}
.microphone-png{
display: flex;
justify-content: center;
margin-top: -360px;
}


.techwave{
max-width:550px;
margin: 0 auto;
text-align: center;
margin-top: 110px;
}
.techwave h1{
font-size: 3.75rem;
font-weight: 800;
line-height: 73px;
}
.techwave p{
font-size: 1rem;
opacity: 0.8;
line-height: 19px;
font-weight: 400;
margin-bottom: 24px;
}
.spotify{
border-radius: 10000px;
font-size: 1rem;
font-weight: 600;
line-height: 19px;
border: none;
cursor: pointer;
padding: 12px 20px;
background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) ,rgba(251, 9, 180, 1) ,rgba(145, 0, 248, 1));
}

.subscribe{
border-radius: 10000px;
font-size: 1rem;
font-weight: 600;
line-height: 19px;
color: rgba(0,255,136,1);
background-color: transparent;
cursor: pointer;
border: none;
border: 1px solid rgba(0,255,136,1);
padding: 12px 20px;
}